table {
  border-collapse: collapse;
}
th {
  color: white;
  background-color: #427fef;
}

td,
th {
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid #c4dcf3;
}

tr:nth-child(odd) {
  background-color: #edf6ff;
}
