body {
  background-image: url(../Images/Sunset.png);
  background-size: cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 62.5%;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login-box {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 6px 10px 2px black;
  display: inline-flex;
  flex-direction: column;
  height: 300px;
  position: relative;
  width: 300px;
}

.login__title {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
}

.login__input {
  background-color: transparent;
  border: 0;
  box-shadow: 1px 1px 0 1px gray;
  color: white;
  font-size: 1rem;
  height: 1.5rem;
  margin: 0.75rem;
  outline: 0;
  width: 75%;
}

.login__input::placeholder {
  color: white;
}

.login__button {
  animation: spin-light 0.75s normal infinite;
  background-color: transparent;
  border: 2px solid;
  bottom: 40px;
  color: tomato;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  left: 12%;
  letter-spacing: 3px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
}

@keyframes spin-light {
  0% {
    border-image: linear-gradient(0deg, tomato 1%, transparent 15%) 1;
  }

  10% {
    border-image: linear-gradient(36deg, tomato 1%, transparent 15%) 1;
  }

  20% {
    border-image: linear-gradient(72deg, tomato 1%, transparent 15%) 1;
  }

  30% {
    border-image: linear-gradient(108deg, tomato 1%, transparent 15%) 1;
  }

  40% {
    border-image: linear-gradient(144deg, tomato 1%, transparent 15%) 1;
  }

  50% {
    border-image: linear-gradient(180deg, tomato 1%, transparent 15%) 1;
  }

  60% {
    border-image: linear-gradient(216deg, tomato 1%, transparent 15%) 1;
  }

  70% {
    border-image: linear-gradient(252deg, tomato 1%, transparent 15%) 1;
  }

  80% {
    border-image: linear-gradient(288deg, tomato 1%, transparent 15%) 1;
  }

  90% {
    border-image: linear-gradient(324deg, tomato 1%, transparent 15%) 1;
  }

  100% {
    border-image: linear-gradient(360deg, tomato 1%, transparent 15%) 1;
  }
}
